  <form accept-charset="UTF-8" action="/test_check" data-remote="true" method="post">
    <label for="query">Value:</label>
    <input id="query" name="value" type="text" />
    <label for="query">Row:</label>
    <input id="query" name="row" type="text" />
    <label for="query">Column:</label>
    <input id="query" name="column" type="text" />

    <input type="submit" value="Submit" />
  </form>