<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.86">
</head>
<div class="cointainer">
    <img class="header-image" src="https://images.jg-cdn.com/image/884572ca-7eca-4607-ab9c-503ba921cd38.jpg">
    <div class="text-cointainer">
        <div class="borders">
            <div class="vcenter">
                <h1>Do you want to check in?</h1>
                <a class="btn btn-primary" href="/checkin"> Click Here</a>
            </div>
        </div>
        <div class="borders">
            <div class="vcenter">
                <h1>For checkpoint information</h1>
                <a class="btn btn-primary" href="/checkpoints/show?walk_type=long"> Click Here</a>
            </div>
         </div>
    </div>
</div>
